# flask app
venv/
*.pyc
__pycache__/
.pytest_cache/
.coverage
htmlcov/
dist/
*.egg-info/
logs/
instance/*.profile

# testing
/coverage

# production
/build

# misc
.DS_Store
pyproject.toml
.flake8
.env
*.bat

# projects metadata
.idea
